@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.margin {
	height: 100vh;
}

.drawer-content {
  max-height: initial !important;
  min-height: -webkit-fill-available;
}